/** imported fonts from google fonts, 

font-family: 'Oleo Script', cursive;
font-family: 'Wendy One', sans-serif;

**/


@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Wendy+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

h1{
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    letter-spacing: 8px;
}
#title {
    height: 10vh;
    margin: 4% 3% 1%;
    text-align: center;
}

body {
    background-color: #939366;
        color: #EBFF00;
        font-family: 'Wendy One', sans-serif;
        letter-spacing: 2px;
    }



button {
    font-family: 'Wendy One', sans-serif;
    color: #1c1c0d;
    font-size: 24px;
    text-align: center;
}

#question{
    font-size: xx-large;
    margin: 1vh;
}

#gameArea {
    margin: 0 auto;
    width: 50%;
    height: 65vh;
    background-color: #1c1c0d;
    border: 2px solid #EBFF00;
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.buttonGrid{
    margin: 5vh;
}


.answerBtn {
    margin: 2%;
    width: 20vw;
    height: 8vh;
    border: 2px solid #EBFF00;
    background-color: #939366;
    padding: 20px;
    border-radius: 25px;
    overflow: auto;
}

.submitBtn{
    margin: 4% 0 1%;
    width: 20vw;
    height: 8vh;
    border: 2px solid #EBFF00;
    padding: 20px;
    border-radius: 25px;
}

button:hover {
   cursor:pointer;
   /*background-image: linear-gradient(red, #EBFF00); */
   background-color: red;
   transition: transform 150ms;
   transform: scale(1.03);
}

.wrong{
    border-color: red;
    opacity: 0.8;
}

.correct{
    border-color: green;
}

#correctAnswer{
    margin: 1%;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c1c0d;
    min-width: 100%;
}

footer a{
    color: #EBFF00;
    margin: 25px 20px;
    width: 50px;
    font-size: 40px;
}

footer i:hover{
    cursor:pointer;
    color: #939366;
}
/* used to hide elements*/
.hide{
    display: none;
}

@media screen and (max-height: 700px) {
    footer{
        display: none;
    }
    
}
