/** imported fonts from google fonts, 

font-family: 'Oleo Script', cursive;
font-family: 'Wendy One', sans-serif;

**/


@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Wendy+One&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    letter-spacing: 8px;
}

#title {
    height: 10vh;
    margin: 4% 3% 1%;
    text-align: center;
}


.counter {
    text-align: center;
}

body {
    background-color: #939366;
    color: #EBFF00;
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 2px;
}



button {
    font-family: 'Wendy One', sans-serif;
    color: #1c1c0d;
    font-size: 24px;
    text-align: center;
}

#question {
    font-size: xx-large;
    margin: 1vh;
}

#gameArea {
    margin: 0 auto;
    width: 50%;
    height: 65vh;
    background-color: #1c1c0d;
    border: 2px solid #EBFF00;
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.buttonGrid {
    margin: 5vh;
}

.btn {
    margin: 2%;
    width: 20vw;
    height: 8vh;
    border: 2px solid #EBFF00;
    background-color: #939366;
    padding: 20px;
    border-radius: 25px;
    overflow: auto;
}

.nextBtn {
    margin: 4% 0 1%;
    width: 20vw;
    height: 8vh;
    border: 2px solid #EBFF00;
    padding: 20px;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #EBFF00;
    transition: transform 150ms;
    transform: scale(1.03);
}

.wrong {
    background-color: #891800;
}

.correct {
    background-color: green;
    color: #1c1c0d;
}

#correctAnswer,
#wrongAnswer {
    margin: 1%;
    color: #EBFF00;
}


/* used to hide elements*/
.hide {
    display: none;
}

@media screen and (max-width: 900px) {
    #question {
        font-size: large;
        display: flex;
        justify-content: center;
    }

    #gameArea {
        margin: 0 auto;
        width: 90vw;
        height: 80vh;
        background-color: #1c1c0d;
        border: 2px solid #EBFF00;
        padding: 20px;
        border-radius: 25px;
        align-items: center;
        text-align: center;
        overflow: auto;
    }

    .btn {
        margin: 2%;
        width: 55vw;
        height: 10vh;
        border: 2px solid #EBFF00;
        background-color: #939366;
        padding: 20px;
        border-radius: 25px;
        overflow: auto;
    }
}

@media screen and (max-width: 400px) {


    
    .counter{
        display: none;
    }

    #title{
        display: none;
    }

    #start{
        height: 30vh;
        width: 50vw;
        margin: 50% 10%;
    }

    #answers{
        margin: 0 auto;
        text-align: center;
    }

    .btn{
        font-size: large;
    }

}

@media screen and (max-width: 700px) {
   .counter{
    display: none;
   }

   #title{
    display: none;
   }
}